<h1>Add a New Director</h1>

<form action="http://localhost:3000/directors/create_new">
  <label>Name</label>
  <input type = "text" name="the_name">

  <label>Image URL</label>
  <input type = "text" name="the_image_url">

  <label>DOB</label>
  <input type = "text" name="the_dob">

  <label>Bio</label>
  <input type = "text" name="the_bio">

  <button>Create Director</button>
</form>
